# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Backups and generated metadata
*.bak

# ignore any path containing a space
* *

avatar.png
signature.png

# temporarily 11.2.'26 19:39 Wed
# please check in source where metadata.toml.bak will greated... and check how you can restorre if you have time. hf gl
metadata.toml
metadata.toml.bak
# header_quote.typst

# Typst / build outputs
*.pdf
*.typstcache

# Editor / OS files
.vscode/
.idea/
.DS_Store
*.swp
